<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./css/bootstrap.css"/>
    <style>
        [ng-cloak]{
            display: none;
        }
    </style>
</head>
<body ng-cloak>
<div ng-controller="ctrl">
    <table class="table table-responsive table-bordered">
        <tr>
            <th>书的名字</th>
            <th>书的数量</th>
            <th>书的单价</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="book in books">
            <td>{{book.name}}</td>
            <td><input type="text" ng-model="book.count"/></td>
            <td><input type="text" ng-model="book.price"/></td>
            <td>
                <button class="btn btn-primary" ng-click="update(book)">修改</button>
                <button class="btn btn-danger" ng-click="delete(book)">删除</button>
            </td>
        </tr>
    </table>
    <form class="form-group col-lg-4 col-lg-offset-4">
        <input type="text" class="form-control" ng-model="book.name" placeholder="输入书名"/>
        <input type="text" class="form-control" ng-model="book.count" placeholder="输入数量"/>
        <input type="text" class="form-control" ng-model="book.price" placeholder="输入价格"/>
        <button type="button" class="btn btn-primary form-control" ng-click="add(book)">添加</button>
    </form>
</div>
<script src="./js/angular.js"></script>
<script>
    var app=angular.module('appModule',[]);
    app.controller('ctrl',['$scope','$http',function($scope,$http){
        $scope.loadAll=function() {
            $http({
                url: '/books',
                method: 'GET'
            }).success(function (data) {
                $scope.books = data;
            });

        };
        $scope.loadAll();
        $scope.update=function(book){
            $http({
                url:'/update',
                method:'post',
                data:{book:book}
            }).success(function(data){
                if(data=='ok'){
                    alert('修改成功！')
                    //$scope.$apply();
                    $scope.loadAll();
                }
            })
        };
        $scope.add=function(book){
            //console.log(book);
            $http({
                url:'/add',
                method:'post',
                data:{book:book}
            }).success(function(data){
                if(data=='ok'){
                    alert('添加成功！');
                    //$scope.$apply();
                    $scope.loadAll();
                    $scope.book={};
                }
            });
        };
        $scope.delete=function(book){
            $http({
                url:'/delete',
                method:'post',
                data:{book:book}
            }).success(function(data){
                if(data=='ok'){
                    alert('删除成功！');
                    $scope.loadAll();
                    //$scope.$apply();
                }
            })
        };

    }]);
</script>
</body>
</html>